.twoColumn {
  display: flex;
  gap: 20px;
}

.container {
  margin: 20px;
  padding: 10px;
  border: 2px gray solid;
}

.iconsContainer {
  display: flex;
  gap: 10px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
